[package]
name = "massbit-chain-solana"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
arrayref = "0.3.6"
serde_json = { version = "1.0", optional = false }
serde = "1.0.126"
solana-sdk = "1.7.4"
log = "0.4.14"
env_logger = "0.9.0"
bs58 = "0.4.0"
lazy_static     = "1.4.0"

[dependencies.solana-client]
package = "solana-client"
git = "https://github.com/massbitprotocol/solana.git"
branch = "massbit"

[dependencies.solana-program]
package = "solana-program"
git = "https://github.com/massbitprotocol/solana.git"
branch = "massbit"

[dependencies.solana-transaction-status]
package = "solana-transaction-status"
git = "https://github.com/massbitprotocol/solana.git"
branch = "massbit"